.WeatherToday {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-top: -25px;
    margin-bottom: -25px;
    color: grey;
    background-color: rgb(226, 243, 241);
}

.WeatherImage {
    transform: scale(0.35, 0.35);
    margin-left: -75px;
    margin-top: -50px;
}

.Temp {
    color: black;
    font-size: xx-large;
    margin-top: -50px;
}

.DayOfWeek {
    margin-bottom: -15px;
}


.City {
    margin-bottom: -15px;
    font-size: x-large;
}